<head>
	<link rel="stylesheet" href="{{ STATIC_URL }}article.css">
</head>
<body class="archive">
	<div class="header">
		<img src="{{ MEDIA_URL }}logo.png">
		<div class="content-links">
			{% if user.is_authenticated %}
			<div class="contents_link"> <a href="/logout/"> Log out </a></div>
			{% else %}
			<div class="contents_link"> <a href="/register/"> Sign up </a></div>
			<div class="contents_link"> <a href="/login/"> Log in </a></div>
			{% endif %}
			<div class="contents_link"> <a href="/articles/new/"> New article </a></div>
		</div>
	</div>
	<div>
		{% for post in posts %}
		<h2 class="post-title"><a href="articles/{{ post.id }}"> {{ post.title }} </a> </h2>
		<button class="fold-button"> Collapse </button>
		<div class="one-post">
			<div class="article-author">{{ post.author.username }}</div>
			<div class="article-created- date">{{ post.created_date }}</div>
			<p class="article-text">{{ post.get_excerpt }}</p>
		</div>
		<div></div>
		{% endfor %}
	</div>
	<!-- <script src="{{ STATIC_URL }}helloworld.js"></script> -->
	<script src="{{ STATIC_URL }}fold-post.js"></script>
</body>