body {
	background: #1abc9c;
	font-family: Tahoma, Arial, sans-serif; 
	color: #ffffff;
	margin: auto;
	margin-top: 30px;
	width: 1200px;
}

.archive {
	width: 960px; 
}

.header {
	height: 40px;
	display: flex;
}

.header img {
	width: 40px;
	display: block;
}

.post-title a {
	color: #ffffff;
}

.article-author { 
	width: 50%; 
	float: left;
}

.article-created-date { 
	text-align: right;
}

.content-links {
	position: absolute;
	top: 5%;
	right: 30px;
}

.contents_link {
	text-align: right;
	margin-top: 5px;
}
.contents_link a {
	color: #ffffff;
}

.addform .content {
	text-align: center;
}
.addform .content input {
	width: 50%;
	text-align: center;
}
.addform .content textarea {
	width: 100%;
}
.addform .content .button {
	width: 100px;
}

.userform {
	text-align: center;
}
.userform input {
	width: 40%;
}

.post-title, .fold-button {
	margin-top: 30px;
	display: inline-block;
}